.product-card{
    width: 50%;
    //max-width: 400px;
    //border: 1px solid rgb(110, 110, 110);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.product-img{
    width: 80%;
    margin-top: 5px;
}


.cuotas{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(107, 107, 107);
    text-align: center;
}

.add-to-cart{
    position: relative;
    top: -90%;
    left: -35%;
    border-radius: 700px;
    border: none;
    background-color: rgb(255, 133, 133);
    height: 40px;
    width: 40px;
}
.add-to-cart-img{
    height: 30px;
}