.header-container{
    display: flex;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(53, 53, 53);;
    margin-bottom: 3px;
}


.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
}

.filter{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;

}

.cart{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.inst-logo{
    height: 20px;
    padding-left: 5px;
   margin-bottom: 2px;
}

.cart-logo{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.filter-logo{
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.filters{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 40px;
    color: white;
    margin-bottom: 3px;
}